<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Svelte app</title>

	<link rel='icon' type='image/png' href='/favicon.png'>
	<link href="/omni-cms/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script defer src='/omni-cms/components.js'></script>
</head>

<body class="h-screen bg-white w-full flex flex-col items-center">
	<mc-design-sidepanel></mc-design-sidepanel>
    <mc-card class="w-96 h-96">
        <mc-sidenav path="/_sidenav.ounav"></mc-sidenav>
    </mc-card>
</body>
	
</html>
